# folders
Bin/*
Intermediate/*
.vs/*
External/glad/Intermediate/*
External/glad/Bin/*

# project files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo

# Bin
*.log
*.tlog
*.obj
*.lib
*.recipe
*.idb
*.pdb

